a{text-decoration: none}
li{list-style: none}
ul{padding: 0}
ul,p{margin: 0}
header{
  display: flex;
  justify-content: center;
  padding: 5px;
  .top_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
    max-width: 1024px;
    .top_bar_row{
      width: 100%;
      display: flex;
      .header_icon{
        flex: 0 0 45px;
        display: flex;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box
      }
      #closeMenu{
        display: none;
      }
      h1{
        flex: 1;
      }

    }
    .header_nav{
      display: flex;
      width: 100%;
      ul{
        padding: 0;
        display: flex;
        flex: 1;
        justify-content: space-between;
        li{
          list-style: none;
          transition: all ease-in-out .3s;
          padding: 5px;
          border-radius: 4px;
          &:hover{
            background: rgba(150,150,150,.5);
          }
          a{
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px){
  header .top_bar .top_bar_row #closeMenu{
    display: flex;
  }
// styling to center the modal
  .side_nav {
    z-index: 100;
    display: flex;
    padding: 0;
    flex-direction: column;
    // transition: all ease-in-out .3s;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0);
    height: 100vh;
    width: 100vw;
    border: none;
    box-sizing: border-box;
    visibility: visible;
      .mobile_menu{
      box-sizing: border-box;
      display: flex;
      flex: 1;
      ul{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: white;
        -webkit-box-shadow:  4px 5px 5px 0px rgba(0,0,0,0.23);
        -moz-box-shadow:  4px 5px 5px 0px rgba(0,0,0,0.23);
        box-shadow:  4px 5px 5px 0px rgba(0,0,0,0.23);
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 200px;
        list-style: none;
        .close{
          flex: 0 0 45px;
          width: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        li{
          //border-right: 5px solid rgba(0,0,0,.8);
          display: flex;
          align-items: center;
          margin-bottom: 2px;
          position: relative;
          width: 100%;
          box-sizing: border-box;
          transition: ease-in-out .3s all;
          &:hover{
            background: rgba(150,150,150,.5);
          }
          a{
            display: flex;
            align-items: center;
            width: 100%;
          i{
            flex: 0 0 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            }
          }
        }
      }
    }
  }
}
