.section1{
  display: flex;
  flex-wrap: wrap;
  // background: yellow;
  position: relative;
  .side{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    &.right{
      flex: 1;
      // background: orange;
      min-width: 250px;
    }
    &.left{
      flex: 3;
      min-width: 50%;
      // background: green;
    }
  .search-bar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;
    i{
      margin-right: -24px;
    }
    input[type=search]{
      border-radius: 4px;
      border: none;
      padding-right: 5px;
      padding-left: 25px;
      background: rgba(150,150,150,.5);
      height: 35px;
      flex: 1;
    }
  }
  }
}
