<section class="section1">
  <div class="left side">
    <div class="search-bar">
      <i class="material-icons header_icon">search</i>
      <input type="search" (keyup)="onKey($event)">
    </div>
    <div *ngFor="let post of posts | searchFilter: {title: searchText, subtitle:searchText}; " @fadeIn>
      <app-post-box
        [title]='post.title'
        [image]='post.image'
        [subtitle]='post.subtitle'
        [description]='post.description'
      ></app-post-box>
    </div>
  </div>
  <div class="right side">
    <app-post-box
      [image]='user.image'
      [subtitle]='user.subtitle'
      [description]='user.description'
      ></app-post-box>
  </div>

</section>
