.section1{
  display: flex;
  flex-wrap: wrap;
  // background: yellow;
  position: relative;
  .side{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    &.right{
      flex: 1;
      // background: orange;
      min-width: 250px;
    }
    &.left{
      flex: 3;
      min-width: 50%;
      // background: green;
    }
  }
}
