main{
  // background: rebeccapurple;
  flex: 1;
  justify-content: center;
  display: flex;
  .container{
    max-width: 1024px;
    // background: blue;
    width: 100%;
    padding: 5px;
    position: relative;
  }
}
